<nav class="navbar navbar-expand-lg navbar-light">
    <form action="" method="GET">
        <a class="navbar-brand" href="/saved">Saved Articles</a>
    </form>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggåler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <form action="/" method="GET"></form>
                <a class="nav-item nav-link active" href="/">Home
                <span class="sr-only">(current)</span>
                </a>
            </form>
        </div>
    </div>
</nav>

<div class="jumbotron">
</div>

<!-- Modal -->
<div class="modal fade" id="NoteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-title"></h5>
      </div>
     <div class="modal-body" id="modal-results">
        <h4>Note Title:</h4>
        <h3 id="modal-note-title"></h3>
        <h4>Note Body:</h4>
        <p id="modal-note-body"></p>
      </div>
      <div class="modal-body" id="modal-form">
        <form>
            <div class="form-group">
            <input id='titleinput' name='title' placeholder="Enter Note Title">
            <textarea class="form-control" rows="3" id='bodyinput' name='body' placeholder="Enter Note Here"></textarea>
            </div>
        </form>
      </div>
      <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" id="closeBtn">Close</button>
            <button type="button" class="btn btn-primary" id="savenote" data-dismiss="modal">Save Note</button>
      </div>
    </div>
  </div>
</div>

<div id="saved">

    {{#each saved}}
        <div class="article-container" id="saved-article" >
            <a href={{link}} target="_blank"><h3 class="article-text">{{title}}</h3></a>
            <span class="article-date">{{date}}</span>
            <div class="article-footer">
                <button class="btn btn-danger" id="articleBtn" type="submit" data-id={{_id}}>Delete</button>
                <button class="btn btn-info" id="articleNoteBtn" type="submit" data-id={{_id}} data-toggle="modal" data-target="#NoteModal">Write a note</button>
            </div>
        </div>
    {{/each}}
</div>

<script type="text/javascript">

$(document).on("click", "#articleBtn", function(){

    var Articleid = $(this).attr("data-id");

    console.log(Articleid)

    $.ajax({
        method: "POST",
        url: "/delete/" + Articleid,
        data: {
            id: Articleid
        }
    }).done(function(data) {
        location.reload();
    });
})


$(document).on("click", "#articleNoteBtn", function(){

    var Articleid = $(this).attr("data-id");
    $("#notes").empty()

        $.ajax({
        method: "GET",
        url: "/articles/" + Articleid,
        data: {
            id: Articleid
        }
    }).done(function(data) {
      console.log(data.note)
      console.log(data.note.title)
      console.log(data.note.body)

      $("#modal-title").text(data.title)
      $("#savenote").attr("data-id", data._id)


      if (data.note) {
        $("#modal-note-title").css("font-size", 25)
        $("#modal-note-title").text(data.note.title)
        $("#modal-note-body").css("font-size", 20)
        $("#modal-note-body").text(data.note.body)
      }
      // TODO  also display this if data.note is an empty string
      else if(!data.note){
          console.log("note is not here")
          $("#modal-note-title").css("font-size", 15)
          $("#modal-note-title").text("No Title Found...")
          $("#modal-note-body").css("font-size", 15)
          $("#modal-note-body").text("No Note Body Found...")
      }
    });
})

$(document).on("click", "#savenote", function(){
    var thisId = $(this).attr("data-id")
    console.log(thisId)

    $.ajax({
    method: "POST",
    url: "/articles/" + thisId,
    data: {
      // Value taken from title input
      title: $("#titleinput").val(),
      // Value taken from note textarea
      body: $("#bodyinput").val()
    }
  })
    // With that done
    .done(function(data) {
      // Log the response
      console.log(data);
      // Empty the notes section
     $("#notes").empty()
    });

  // Also, remove the values entered in the input and textarea for note entry
  $("#titleinput").val("");
  $("#bodyinput").val("");

});


</script>